<a href="https://colab.research.google.com/github/xclusive43/data-science-projects/blob/master/pyspark_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=9daecfb30ceb9a96213ff7567d6e294c34130d52734fcb7d4b5652f96128880b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv('test1.csv')

    Name  Age  Experience
0   ajay   12           5
1  abhik   24           4
2  rishi   37          10
3   NEHA   20           6

In [ ]:
from pyspark.sql  import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()
spark

In [ ]:
df_pyspark=spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [ ]:
# df_pyspark = spark.read.option('header','true').csv('test1.csv').show()
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [ ]:
# DataFrame are datastructure beacuse inside u can perform this kind of operation like: Read,describe,show,etc.
df_pyspark=spark.read.csv('test1.csv', header=True,inferSchema=True);
df_pyspark.show()
df_pyspark.printSchema()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   ajay|  12|         5|  1000|
|  abhik|  24|         4|  2000|
|  rishi|  37|        10|  3000|
|   NEHA|  20|         6|  5000|
|   NULL|  21|      NULL|   400|
| bikash|NULL|        12|  NULL|
|Mashesh|  80|      NULL|  NULL|
|   NULL|  34|         1|  NULL|
|   NULL|NULL|        34|  3000|
+-------+----+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
#Selecting columns
df_pyspark.columns

df_pyspark.head(2)

[Row(Name='ajay', Age=12, Experience=5),
 Row(Name='abhik', Age=24, Experience=4)]

In [ ]:
df_pyspark.select('Name')
df_pyspark.select('Name').show()
type(df_pyspark.select('Name'))
df_pyspark.select(['Name','Experience']).show()

# df_pyspark.describe()
df_pyspark.describe().show()

+-----+
| Name|
+-----+
| ajay|
|abhik|
|rishi|
| NEHA|
+-----+

+-----+----------+
| Name|Experience|
+-----+----------+
| ajay|         5|
|abhik|         4|
|rishi|        10|
| NEHA|         6|
+-----+----------+

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    4|                 4|                 4|
|   mean| NULL|             23.25|              6.25|
| stddev| NULL|10.436314802968846|2.6299556396765835|
|    min| NEHA|                12|                 4|
|    max|rishi|                37|                10|
+-------+-----+------------------+------------------+

In [ ]:
#Adding columns
df_pyspark=df_pyspark.withColumn('Age after 5 years', df_pyspark['age']+5)
df_pyspark.show()

+-----+---+----------+-----------------+
| Name|Age|Experience|Age after 5 years|
+-----+---+----------+-----------------+
| ajay| 12|         5|               17|
|abhik| 24|         4|               29|
|rishi| 37|        10|               42|
| NEHA| 20|         6|               25|
+-----+---+----------+-----------------+

In [ ]:
# Droping columns
df_pyspark=df_pyspark.drop('Age after 5 years')
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| ajay| 12|         5|
|abhik| 24|         4|
|rishi| 37|        10|
| NEHA| 20|         6|
+-----+---+----------+

In [ ]:
# Renaming column
df_pyspark=df_pyspark.withColumnRenamed('Age','New Age')
df_pyspark.show()

+-------+-------+----------+------+
|   Name|New Age|Experience|Salary|
+-------+-------+----------+------+
|   ajay|     12|         5|  1000|
|  abhik|     24|         4|  2000|
|  rishi|     37|        10|  3000|
|   NEHA|     20|         6|  5000|
|   NULL|     21|      NULL|   400|
| bikash|   NULL|        12|  NULL|
|Mashesh|     80|      NULL|  NULL|
|   NULL|     34|         1|  NULL|
|   NULL|   NULL|        34|  3000|
+-------+-------+----------+------+

In [ ]:
#Drop columns
df_pyspark.drop('Name').show()

+-------+----------+------+
|New Age|Experience|Salary|
+-------+----------+------+
|     12|         5|  1000|
|     24|         4|  2000|
|     37|        10|  3000|
|     20|         6|  5000|
|     21|      NULL|   400|
|   NULL|        12|  NULL|
|     80|      NULL|  NULL|
|     34|         1|  NULL|
|   NULL|        34|  3000|
+-------+----------+------+

In [ ]:
df_pyspark.show()
# Null Value Action
df_pyspark.na.drop().show()

+-------+-------+----------+------+
|   Name|New Age|Experience|Salary|
+-------+-------+----------+------+
|   ajay|     12|         5|  1000|
|  abhik|     24|         4|  2000|
|  rishi|     37|        10|  3000|
|   NEHA|     20|         6|  5000|
|   NULL|     21|      NULL|   400|
| bikash|   NULL|        12|  NULL|
|Mashesh|     80|      NULL|  NULL|
|   NULL|     34|         1|  NULL|
|   NULL|   NULL|        34|  3000|
+-------+-------+----------+------+

+-----+-------+----------+------+
| Name|New Age|Experience|Salary|
+-----+-------+----------+------+
| ajay|     12|         5|  1000|
|abhik|     24|         4|  2000|
|rishi|     37|        10|  3000|
| NEHA|     20|         6|  5000|
+-----+-------+----------+------+

In [ ]:
# any == how
df_pyspark.na.drop(how="all").show()

+-------+-------+----------+------+
|   Name|New Age|Experience|Salary|
+-------+-------+----------+------+
|   ajay|     12|         5|  1000|
|  abhik|     24|         4|  2000|
|  rishi|     37|        10|  3000|
|   NEHA|     20|         6|  5000|
|   NULL|     21|      NULL|   400|
| bikash|   NULL|        12|  NULL|
|Mashesh|     80|      NULL|  NULL|
|   NULL|     34|         1|  NULL|
|   NULL|   NULL|        34|  3000|
+-------+-------+----------+------+

In [ ]:
# threshold drop the column data if a row not having at least 2 non values
df_pyspark.na.drop(how="all",thresh=2).show()

+-------+-------+----------+------+
|   Name|New Age|Experience|Salary|
+-------+-------+----------+------+
|   ajay|     12|         5|  1000|
|  abhik|     24|         4|  2000|
|  rishi|     37|        10|  3000|
|   NEHA|     20|         6|  5000|
|   NULL|     21|      NULL|   400|
| bikash|   NULL|        12|  NULL|
|Mashesh|     80|      NULL|  NULL|
|   NULL|     34|         1|  NULL|
|   NULL|   NULL|        34|  3000|
+-------+-------+----------+------+

In [ ]:
#  subset for specific column
df_pyspark.na.drop(how="all",subset=['Name' ]).show()

+-------+-------+----------+------+
|   Name|New Age|Experience|Salary|
+-------+-------+----------+------+
|   ajay|     12|         5|  1000|
|  abhik|     24|         4|  2000|
|  rishi|     37|        10|  3000|
|   NEHA|     20|         6|  5000|
| bikash|   NULL|        12|  NULL|
|Mashesh|     80|      NULL|  NULL|
+-------+-------+----------+------+

In [ ]:
# filling the missing values
df_pyspark.na.fill('Missing Values',['Age','Salary']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   ajay|  12|         5|  1000|
|  abhik|  24|         4|  2000|
|  rishi|  37|        10|  3000|
|   NEHA|  20|         6|  5000|
|   NULL|  21|      NULL|   400|
| bikash|NULL|        12|  NULL|
|Mashesh|  80|      NULL|  NULL|
|   NULL|  34|         1|  NULL|
|   NULL|NULL|        34|  3000|
+-------+----+----------+------+